<h1 mat-dialog-title>{{'admins.users.modifypwd.title' | translate}}</h1>
<mat-dialog-content>
  <form [formGroup]="secretForm">
    <mat-form-field class="input-full-width" appearance="standard">
      <mat-label>{{'admins.users.modifypwd.input1title' | translate}}</mat-label>
      <input matInput type="password" formControlName="secret">
    </mat-form-field>
    <mat-error *ngIf="secretForm.get('secret').hasError('minlength') && (secretForm.touched || secretForm.dirty)">
      {{'minLength' | translate}}
    </mat-error>
    <mat-form-field class="input-full-width" appearance="standard">
      <mat-label>{{'admins.users.modifypwd.input2title' | translate}}</mat-label>
      <input matInput [(ngModel)]="data.secret" type="password" formControlName="confirmSecret">
    </mat-form-field>
    <mat-error *ngIf="!secretForm.get('secret').hasError('minlength') &&
                      !secretForm.get('confirmSecret').hasError('required') &&
                      secretForm.errors?.confirmSecretError && (secretForm.touched || secretForm.dirty)">
      {{'admins.users.modifypwd.error' | translate}}
    </mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="secretForm.errors">{{'ok' | translate}}</button>
</mat-dialog-actions>
