table {
  width: 100%;
}

.mat-column-add-btn,
.mat-column-action {
  max-width: 32px;
  text-align: center;
}

.inline-form {
  width: 100%;
  display: table;
  & > * {
    display: table-cell;
  }
  & > *:not(:last-child) {
    padding-right: 10px;
  }
  & > div:last-child {
    text-align: center;
  }
}
