<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>{{ 'menu.home' | translate }}</span>
        </button>
        <button mat-menu-item routerLink="/calendar"  >
          <mat-icon>calendar_today</mat-icon>
          <span>{{ 'menu.calendar' | translate }}</span>
        </button>
        <button *ngIf="isAdmin" mat-menu-item routerLink="/admin" >
          <mat-icon>supervisor_account</mat-icon>
          <span>{{ 'menu.management' | translate }}</span>
        </button>
      </mat-menu>
      <span class="spacer"></span>
      <div class="title" >
        <ng-content></ng-content>
      </div>
      <span class="spacer"></span>
      <div class="name">
        <div>{{(loggedUser$ | async)?.firstName}}</div>
        <div>{{(loggedUser$ | async)?.lastName}}</div>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuAccount" class="menuAccount">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menuAccount="matMenu">
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>{{ 'menu.account.settings' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onLogout()" >
          <mat-icon>power_settings_new</mat-icon>
          <span>{{ 'menu.account.logout' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
