<h1 mat-dialog-title>{{'calendar.addvacation.title' | translate}}</h1>
<mat-dialog-content>
  <p class="choices">
    <mat-checkbox class="example-margin" [(ngModel)]='data.am'>{{'calendar.addvacation.am' | translate}}</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]='data.pm'>{{'calendar.addvacation.pm' | translate}}</mat-checkbox>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'ok' | translate}}</button>
</mat-dialog-actions>