
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'variables';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

.example-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

body {
  font-family: Roboto;
  margin: 0px;
}

.interactivebtn {
  & > span.mat-button-wrapper {
    font-size: 40px;
    display: inline-flex;
  }

}

.inline-form > .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.input-full-width {
  width: 100%;
}

.error-msg {
  color: mat-color($warn, 500);
}
